/* 懒人图库 搜集整理 www.lanrentuku.com */
.weixin {
    position: fixed;
    right: 0;
    bottom: 0
}

.weixin .xixi {
    display: none
}

.weixin:hover .xixi {
    position: absolute;
    display: block;
    right: 50px;
    bottom: 0;
    z-index: 9
}